*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header {
    background: linear-gradient(#737fc4,#dacaca);
     padding: 20px 0;
    }
header img{
    width: 300px;
}
.caixa {
     position: relative;
     margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
body{
    background-color: #dacaca;
}
.principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 70vw;
}

.prodimg {
    width: 50%;
    margin: 2em 0 2em 0;
}
.principal h2{
    width: 100%;
    margin: 10px;
    text-align: center;
}
.principal div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 30%;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 20px;
}
.principal p{
    font-size: 1.4em;
    font-weight: bold;
}
.principal div {
    border-color: #000000;
}

.principal div:active {
    border-color: #088C19;
}

.principal div:hover h2 {
    font-size: 40px;
}

.principal h2 {
    font-size: 30px;
    font-weight: bold;
}

.prodimg {
    display: inline-block;
    text-align: center;
    height: 20vh;
    border: 2px solid #000000;
    border-radius: 30px;
}

footer{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 20vh;
	background: linear-gradient(#dacaca,#737fc4);
	background-size: cover;
	text-align: center;
}
footer img{
	height: 95%;
	margin: auto;
}
footer p{
	display: block;
	width: 100%;
	font-size: 1.3em;
	margin: 10px 0px;
}

@media screen and (max-width: 480px) {
	.caixa {
		width: auto;
	}

	h1 {
		text-align: center;
	}
    .principal div{
        min-width: 90%;
        margin: auto;
    }
    .principal{
        width: 100%;
    }
	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}
