*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header {
    background: linear-gradient(#737fc4,#dacaca);
     padding: 20px 0;
    }
header img{
    width: 300px;
}
.caixa {
     position: relative;
     width: 940px;
     margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.principal {
    background-color: #dacaca;
}

.prodimg {
    width: 50%;
    margin: 2em 0 2em 0;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 40vh;
    vertical-align: top;
    margin: 2px 2px 2px 2px;
    padding: 30px 20px;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #b0baf1;
}

.produtos li:hover {
    border-color: #000000;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 40px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

footer{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 20vh;
	background: linear-gradient(#dacaca,#737fc4);
	background-size: cover;
	text-align: center;
}
footer img{
	height: 95%;
	margin: auto;
}
footer p{
	display: block;
	width: 100%;
	font-size: 1.3em;
	margin: 10px 0px;
}

@media screen and (max-width: 480px) {
	.caixa {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}
